<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/home-banner.png" | prepend: site.baseurl }}" class="img-responsive">
                <h5>As we move towards providing real-time performance analytics to our leadership to help drive better IT decisions, it is imperative that we begin to standardize processes around how we manage Agile projects.</h5>
                
                <h5>This site is dedicated to documenting and sharing the TSD Agile SDLC Process. It is a living breating set of documentation that will grow as our divisions maturity with Agile grows</h5>
            </div>
        </div><!-- /row -->       
    </div> <!-- /container -->
</div><!-- /headerwrap -->