<div id="twrap">
    <div id="twrapback"></div>
    <div class="container centered">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <i class="fa fa-comment-o"></i>
                <h5>In 2012, the GSA IT / Acquisition IT / Technology Solutions Division (TSD) identified a need to better manage it's IT projects. Delays, scope creep, and poorly documented systems caused serious issues, especially when dealing with contractor turnover and contract recompetes.</h5>

                <h5>After looking at how other groups solved these similar problems, we setout to create our first Agile Scrum team. After 2 years of success and adoption, the TSD division, in 2015, implemented the "Agile First" policy, in which all new IT projects were to be handled using the Agile project managmement methodology.</h5>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/twrap -->